{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "max-len": [2, 120],
    "comma-dangle": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "import/no-dynamic-require": 0,
    "no-trailing-spaces": "error",
    "no-mixed-spaces-and-tabs": [
      "error",
      "smart-tabs"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1,
        "maxBOF": 1
      }
    ],
    "operator-linebreak": [
      "error",
      "before"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "space-infix-ops": "error",
    "keyword-spacing": "error"
  },
  "globals": {
    "$": false,
    "t": false,
    "getLocaleMessages": false
  }
}
