<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/logo/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- activateAccountPageTitle %> </title>
    <link rel="stylesheet" href="/stylesheets/jumbotron-narrow.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">ALLFILMS</h3>
        </div>

        <p style="text-align: center;">
            <%- activateAccountMessage %>
        </p>

        <p style="text-align: center;">
            <a href="<%- frontEndUrl %>" class="btn btn-default"><%- activationAccountComeHome %> </a>
        </p>
    </div>
</body>

</html>
